parameters:

services:
  _defaults:
    autowire: true
    autoconfigure: true

  Wumvi\Dao\Mysql\Connection\MasterConnection:
    public: true
    class: Wumvi\Dao\Mysql\Connection\MasterConnection
    arguments:
      - master1: 'mysql://root:pwd@127.0.0.1:3432/test'

  Wumvi\Dao\Mysql\Connection\ReplicaConnection:
    public: true
    class: Wumvi\Dao\Mysql\Connection\ReplicaConnection
    arguments:
      - replica1: 'mysql://root:pwd@127.0.0.1:3433/test'
        replica2: 'mysql://root:pwd@127.0.0.1:3434/test'

  Wumvi\Dao\Mysql\Dao\:
    resource: '../../src/Dao/*'
    public: true




